In [2]:
import pandas as pd
import os
import glob
from pathlib import Path
from datetime import datetime
from functools import reduce

In [97]:
dfs_M=[]
for f in filelist:
    df=pd.read_csv(f, sep=',')
    df=df.drop(columns=['Open', 'High','Low','Vol.','Change %'])
    df['Price']=pd.to_numeric(df['Price'])
    df['month'] = pd.to_datetime(df['Date']).dt.month
    df['year'] = pd.to_datetime(df['Date']).dt.year
    df_M=df.groupby(['year','month'],as_index=False).mean()
    dfs_M.append(df)

In [134]:
dfs_w=[]
for f in filelist:
    df=pd.read_csv(f, sep=',')
    df=df.drop(columns=['Open', 'High','Low','Vol.','Change %'])
    df['Price']=pd.to_numeric(df['Price'])
    df['Date']=pd.to_datetime(df['Date'])
    df['week'] = df['Date'].dt.strftime('%U')
    df['year'] = pd.to_datetime(df['Date']).dt.year
    df_M=df.groupby(['year','week'],as_index=False).mean()
    dfs_w.append(df)

In [2]:
#df['Crude Oil WTI']=pd.to_numeric(df['Crude Oil WTI', 'Gold','Oats','Corn','Soybeans','Wheat','USD-CAD'])
df['Date']=pd.to_datetime(df['Date'])
df['week'] = df['Date'].dt.strftime('%U')
df['year'] = pd.to_datetime(df['Date']).dt.year
df_w=df.groupby(['year','week'],as_index=False).mean()

NameError: name 'df' is not defined

In [3]:
df=pd.read_csv('Data\combined.csv', sep=',')
us_climate=pd.read_csv('Data/us_Tem_pre.csv', sep=',')
#ca_climate=pd.read_csv('Data/ca_Tem_pre.csv', sep=',')
swe=pd.read_csv('Data/SWE_sum.csv', sep=',')
snow=pd.read_csv('Data/snow.csv', sep=',')

In [4]:
us_climate

       Unnamed: 0        Date       tmax       tmin   prcp
0           51012  1990-09-01  88.300493  63.172414   6.50
1           51013  1990-09-02  88.103960  64.074257   8.44
2           51014  1990-09-03  86.792079  63.415842   6.53
3           51015  1990-09-04  88.084158  63.836634   7.12
4           51016  1990-09-05  89.123153  64.738916  11.92
...           ...         ...        ...        ...    ...
11440       62452  2021-12-27  51.081951  34.093171  14.41
11441       62453  2021-12-28  49.038049  33.247059  26.71
11442       62454  2021-12-29  46.960784  32.176471  22.54
11443       62455  2021-12-30  50.422165  34.558462  18.22
11444       62456  2021-12-31  50.385787  34.228426   7.99

[11445 rows x 5 columns]

In [4]:
df['Date'] =  pd.to_datetime(df['Date'].astype("string"), format='%Y-%m-%d')
us_climate['Date'] =  pd.to_datetime(us_climate['Date'].astype("string"), format='%Y-%m-%d')
#ca_climate['Date'] =  pd.to_datetime(ca_climate['Date'].astype("string"), format='%Y-%m-%d')
swe['Date'] =  pd.to_datetime(swe['Date'].astype("string"), format='%Y-%m-%d')
snow['Date'] =  pd.to_datetime(snow['Date'].astype("string"), format='%Y/%m/%d')

In [5]:
df_all=[]
df_all.append(us_climate)
#df_all.append(ca_climate)
df_all.append(df)
df_all.append(swe)
df_all.append(snow)

In [6]:
df_all_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='outer'), df_all)

In [7]:
df_all_merged['Date'] = pd.to_datetime(df_all_merged['Date'])
df_all_merged = df_all_merged.sort_values(by='Date')

In [8]:
df_all_merged['Date']=pd.to_datetime(df_all_merged['Date'])
df_all_merged['week'] = df_all_merged['Date'].dt.strftime('%U')
df_all_merged['year'] = pd.to_datetime(df_all_merged['Date']).dt.year

In [9]:
df_w=df_all_merged.groupby(['year','week'],as_index=False).mean()

In [10]:
df_w = df_w.drop(columns=['Unnamed: 0_x','Unnamed: 0_y'])

In [22]:
df_all_merged=df_all_merged.drop(columns=['Unnamed: 0_x','Unnamed: 0_y'])

In [11]:
df_w

,year,week,tmax,tmin,prcp,Crude Oil WTI Futures Historical Data.csv,Gold Futures Historical Data.csv,Oats Futures Historical Data.csv,US Corn Futures Historical Data.csv,US Soybeans Futures Historical Data.csv,US Wheat Futures Historical Data.csv,USD_CAD Historical Data.csv,USD_CNY Historical Data.csv,USD_EUR Historical Data.csv,USD_MXN Historical Data.csv,USD_PHP Historical Data.csv,SWE,SNOW,SNWD
0,1990,05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1216.666667,54.581033
1,1990,06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5004.000000,61.680348
2,1990,07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2913.285714,69.708536
3,1990,08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2395.571429,65.647557
4,1990,09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1551.428571,55.298915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,2022,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.714286,0.097075
1714,2022,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
1715,2022,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.102875
1716,2022,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
1717,2022,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.142857,0.025886

In [12]:
df_w.to_csv('Data\weekly_features.csv')

#### Monthly data

In [101]:
df=pd.read_csv('Data\weekly_features.csv')
dates = df.year*100+df.week
df['Date'] = pd.to_datetime(dates.astype(str) + '0', format='%Y%W%w')
df['month'] = pd.to_datetime(df['Date']).dt.month
df=df.groupby(['year','month'],as_index=False).mean()

In [102]:
df

,year,month,Unnamed: 0,week,us_prcp,us_mean_temp,Unnamed: 0_x,ca_mean_temp,ca_total_prec,Unnamed: 0_y,...,Oats,Corn,Wheat,USD_CAD,USD_CNY,USD_EUR,USD_PHP,SWE,SNOW,SNWD
0,1990,2,1.5,6.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2882.380952,62.904368
1,1990,3,5.5,10.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1453.535714,42.661031
2,1990,4,10.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,618.171429,13.755496
3,1990,5,14.5,19.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126.821429,0.610113
4,1990,6,18.5,23.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.714286,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,2022,2,1698.5,6.5,NaN,NaN,NaN,NaN,NaN,2378.833333,...,713.365625,648.1875,907.186250,1.271710,6.345425,0.881390,51.2504,NaN,1487.285714,52.417939
385,2022,3,1702.5,10.5,NaN,NaN,NaN,NaN,NaN,2414.083333,...,648.362500,746.3375,1050.734167,1.268355,6.340405,0.907820,52.0640,NaN,828.642857,33.908523
386,2022,4,1706.5,14.5,NaN,NaN,NaN,NaN,NaN,2275.333333,...,754.059375,771.0250,1068.664583,1.256270,6.377850,0.916655,51.9250,NaN,399.678571,12.908079
387,2022,5,1711.0,19.0,NaN,NaN,NaN,NaN,NaN,796.750000,...,689.800000,810.6500,921.405833,1.280760,6.581100,0.944160,52.3020,NaN,34.314286,1.258090
388,2022,6,1715.5,23.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.535714,0.032190

In [103]:
dates = df.year*100+df.month
df['Date'] = pd.to_datetime(dates.astype(str), format='%Y%m')
df['Date']=df['Date'].dt.strftime('%Y-%m')

In [104]:
df_M=[]
df.drop(columns=['year','month','week'])
df_M.append(df)

In [105]:
df_2=pd.read_csv('Data\monthly combined.csv')
df_2['Unnamed: 0'] = pd.to_datetime(df_2['Unnamed: 0'], format='%Y/%m')
df_2=df_2.rename(columns={"Unnamed: 0": "Date"})
df_2['Date']=df_2['Date'].dt.strftime('%Y-%m')
df_M.append(df_2)

In [106]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'], how='outer'), df_M)

In [113]:
df_merged=df_merged.drop(columns=['year','month','Unnamed: 0','week','Unnamed: 0_x','Month','Year'])
df_merged.to_csv('Data\monthly features.csv')

In [112]:
df_merged

,year,month,Unnamed: 0,week,us_prcp,us_mean_temp,Unnamed: 0_x,ca_mean_temp,ca_total_prec,Unnamed: 0_y,...,SWE,SNOW,SNWD,Date,Month,Year,Import,Inflation_rate,export,fertlizer price index
0,1990.0,2.0,1.5,6.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2882.380952,62.904368,1990-02,February,1990.0,1960.0,5.3,15630.0,32.49
1,1990.0,3.0,5.5,10.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1453.535714,42.661031,1990-03,March,1990.0,1597.0,5.2,14404.0,33.10
2,1990.0,4.0,10.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,618.171429,13.755496,1990-04,April,1990.0,3701.0,4.7,12.0,33.73
3,1990.0,5.0,14.5,19.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,126.821429,0.610113,1990-05,May,1990.0,8182.0,4.4,5.0,33.18
4,1990.0,6.0,18.5,23.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.714286,0.000000,1990-06,June,1990.0,4466.0,4.7,185.0,33.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,2022.0,3.0,1702.5,10.5,NaN,NaN,NaN,NaN,NaN,2414.083333,...,NaN,828.642857,33.908523,2022-03,NaN,NaN,NaN,NaN,NaN,NaN
386,2022.0,4.0,1706.5,14.5,NaN,NaN,NaN,NaN,NaN,2275.333333,...,NaN,399.678571,12.908079,2022-04,NaN,NaN,NaN,NaN,NaN,NaN
387,2022.0,5.0,1711.0,19.0,NaN,NaN,NaN,NaN,NaN,796.750000,...,NaN,34.314286,1.258090,2022-05,NaN,NaN,NaN,NaN,NaN,NaN
388,2022.0,6.0,1715.5,23.5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.535714,0.032190,2022-06,NaN,NaN,NaN,NaN,NaN,NaN
389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1990-01,January,1990.0,3765.0,5.2,27.0,32.10

### Calculate the adjusted price

In [46]:
df_w=pd.read_csv('Data\weekly_features.csv')

In [47]:
Commodity_index = pd.read_csv('Data\Commodity_index.csv')
Commodity_index['Date']=pd.to_datetime(Commodity_index['Date'], format='%YM%m')
Commodity_index['Date']=Commodity_index['Date'].dt.strftime('%Y-%m')

In [48]:
dates = df_w.year*100+df_w.week
df_w['Date'] = pd.to_datetime(dates.astype(str) + '0', format='%Y%W%w')
df_w['Date']=df_w['Date'].dt.strftime('%Y-%m')
df_w

,Unnamed: 0,year,week,tmax,tmin,prcp,Crude Oil WTI,Gold,Oats,Corn,...,Wheat,USD_CAD,USD_CNY,USD_EUR,USD_MXN,USD_PHP,SWE,SNOW,SNWD,Date
0,0,1990,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1216.666667,54.581033,1990-02
1,1,1990,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5004.000000,61.680348,1990-02
2,2,1990,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2913.285714,69.708536,1990-02
3,3,1990,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2395.571429,65.647557,1990-02
4,4,1990,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1551.428571,55.298915,1990-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1713,1713,2022,21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.714286,0.097075,2022-05
1714,1714,2022,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,2022-06
1715,1715,2022,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.102875,2022-06
1716,1716,2022,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000,2022-06
1717,1717,2022,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.142857,0.025886,2022-06

In [50]:
for i in Commodity_index.index:
    col = Commodity_index.iloc[i,0]
    for index in df_w.index:
        if col == df_w.iloc[index,19]:
            df_w.iloc[index,8:11] = (df_w.iloc[index,8:11]/Commodity_index[['Grain']].iloc[i])*100
            df_w.iloc[index,6] = (df_w.iloc[index,6]/Commodity_index[['Energy']].iloc[i])*100
            df_w.iloc[index,7] = (df_w.iloc[index,7]/Commodity_index[['Precious_metal']].iloc[i])*100

In [51]:
df_w.to_csv('Data\weekly_features.csv')

### Rename Column

In [3]:
df=pd.read_csv('Data\weekly_features.csv')
df = df.rename(columns={"Crude Oil WTI Futures Historical Data.csv": "Crude Oil WTI", "Gold Futures Historical Data.csv":"Gold", "Oats Futures Historical Data.csv":"Oats", "US Corn Futures Historical Data.csv":"Corn", "US Soybeans Futures Historical Data.csv":"Soybeans", "US Wheat Futures Historical Data.csv":"Wheat" })
df = df.rename(columns={"USD_CAD Historical Data.csv": "USD_CAD", "USD_CNY Historical Data.csv": "USD_CNY", "USD_EUR Historical Data.csv": "USD_EUR", "USD_MXN Historical Data.csv": "USD_MXN" })
df = df.drop (columns = 'Unnamed: 0')

In [4]:
df.to_csv('Data\weekly_features.csv')