In [2]:
import pandas as pd
import os
import glob
from pathlib import Path
from datetime import datetime
from functools import reduce

In [5]:
p = Path("\Documents\Github\MasterDT\Data\combined.csv")

In [97]:
dfs_M=[]
for f in filelist:
    df=pd.read_csv(f, sep=',')
    df=df.drop(columns=['Open', 'High','Low','Vol.','Change %'])
    df['Price']=pd.to_numeric(df['Price'])
    df['month'] = pd.to_datetime(df['Date']).dt.month
    df['year'] = pd.to_datetime(df['Date']).dt.year
    df_M=df.groupby(['year','month'],as_index=False).mean()
    dfs_M.append(df)

In [134]:
dfs_w=[]
for f in filelist:
    df=pd.read_csv(f, sep=',')
    df=df.drop(columns=['Open', 'High','Low','Vol.','Change %'])
    df['Price']=pd.to_numeric(df['Price'])
    df['Date']=pd.to_datetime(df['Date'])
    df['week'] = df['Date'].dt.strftime('%U')
    df['year'] = pd.to_datetime(df['Date']).dt.year
    df_M=df.groupby(['year','week'],as_index=False).mean()
    dfs_w.append(df)

In [6]:
df=pd.read_csv(p, sep=',')

In [37]:
#df['Crude Oil WTI']=pd.to_numeric(df['Crude Oil WTI', 'Gold','Oats','Corn','Soybeans','Wheat','USD-CAD'])
df['Date']=pd.to_datetime(df['Date'])
df['week'] = df['Date'].dt.strftime('%U')
df['year'] = pd.to_datetime(df['Date']).dt.year
df_w=df.groupby(['year','week'],as_index=False).mean()

In [88]:
df_w.to_csv('Data\weekly_features.csv')

In [29]:
df

,Date,Crude Oil WTI,Gold,Oats,Corn,Soybeans,Wheat,USD-CAD,USD-CNY,USD-EUR,USD-PHP,week,year
0,2021-12-31,72.78,72.78,72.78,72.78,72.78,72.78,72.78,72.78,72.78,72.78,52,2021
1,2021-12-30,74.37,74.37,74.37,74.37,74.37,74.37,74.37,74.37,74.37,74.37,52,2021
2,2021-12-29,74.01,74.01,74.01,74.01,74.01,74.01,74.01,74.01,74.01,74.01,52,2021
3,2021-12-28,73.39,73.39,73.39,73.39,73.39,73.39,73.39,73.39,73.39,73.39,52,2021
4,2021-12-27,72.96,72.96,72.96,72.96,72.96,72.96,72.96,72.96,72.96,72.96,52,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7947,1990-07-11,17.47,17.47,17.47,17.47,17.47,17.47,17.47,17.47,17.47,17.47,27,1990
7948,1990-07-10,16.94,16.94,16.94,16.94,16.94,16.94,16.94,16.94,16.94,16.94,27,1990
7949,1990-07-09,16.58,16.58,16.58,16.58,16.58,16.58,16.58,16.58,16.58,16.58,27,1990
7950,1990-06-12,17.51,17.51,17.51,17.51,17.51,17.51,17.51,17.51,17.51,17.51,23,1990
7951,1990-06-11,16.82,16.82,16.82,16.82,16.82,16.82,16.82,16.82,16.82,16.82,23,1990

In [47]:
us_climate=pd.read_csv('Data/us_Tem_pre.csv', sep=',')
ca_climate=pd.read_csv('Data/ca_Tem_pre.csv', sep=',')
swe=pd.read_csv('Data/SWE_sum.csv', sep=',')

In [48]:
df_all=[]
df_all.append(us_climate)
df_all.append(ca_climate)
df_all.append(df)
df_all.append(swe)

In [49]:
df_all_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='outer'), df_all)

In [50]:
df_all_merged['Date'] = pd.to_datetime(df_all_merged['Date'])
df_all_merged = df_all_merged.sort_values(by='Date')

In [51]:
df_all_merged['Date']=pd.to_datetime(df_all_merged['Date'])
df_all_merged['week'] = df_all_merged['Date'].dt.strftime('%U')
df_all_merged['year'] = pd.to_datetime(df_all_merged['Date']).dt.year
df_w=df_all_merged.groupby(['year','week'],as_index=False).mean()

In [53]:
df_w.to_csv('Data\weekly_features.csv')

#### Monthly data

In [17]:
df=pd.read_csv('Data\weekly_features.csv')
dates = df.year*100+df.week
df['Date'] = pd.to_datetime(dates.astype(str) + '0', format='%Y%W%w')
df['month'] = pd.to_datetime(df['Date']).dt.month
df=df.groupby(['year','month'],as_index=False).mean()

In [28]:
df

,year,month,week,us_prcp,us_mean_temp,ca_mean_temp,ca_total_prec,Crude Oil WTI,Gold,Oats,Corn,Wheat,USD_CAD,USD_CNY,USD_EUR,USD_PHP,SWE,Date
0,1990,9,39.0,13.310000,63.635468,3.654945,70.200000,NaN,NaN,122.150000,227.350000,NaN,1.151900,4.733900,0.737780,NaN,2.100000,1990-09-01
1,1990,10,41.5,18.547536,55.101247,5.379670,34.621429,32.719167,374.445000,121.787500,230.425000,266.500000,1.162155,4.733900,0.724330,NaN,126.017857,1990-10-01
2,1990,11,45.5,13.914583,52.375728,1.168132,34.650000,29.997000,378.758750,111.984375,225.640625,259.934375,1.163300,4.984550,0.709800,NaN,1162.242857,1990-11-01
3,1990,12,50.0,23.961964,35.174020,-5.228352,38.735714,26.132667,380.041333,110.670000,229.370000,272.030000,1.160036,5.235200,0.719148,NaN,3859.324286,1990-12-01
4,1991,1,11.6,17.439048,43.056658,-3.442740,21.608000,22.008300,368.613000,116.411667,238.830000,299.934286,1.155023,5.277720,0.726403,NaN,6150.796381,1991-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,2021,8,32.0,22.263143,70.668765,14.551058,25.885714,63.776667,1806.910667,479.150000,553.100000,707.690000,1.257964,6.478548,0.848792,50.22540,0.000000,2021-08-01
372,2021,9,36.5,24.636786,65.372220,10.920742,26.860714,65.342833,1794.160000,519.096875,517.062500,695.816667,1.266365,6.455965,0.847755,49.98960,0.000000,2021-09-01
373,2021,10,41.0,23.602000,59.323680,7.704411,28.308571,71.054000,1794.708000,644.350000,536.670000,731.080000,1.247688,6.425597,0.861504,50.75644,0.020000,2021-10-01
374,2021,11,45.5,16.767857,50.837690,2.679300,35.542857,68.608167,1825.506667,742.759375,571.084375,772.008333,1.254675,6.390240,0.875810,50.33690,NaN,2021-11-01
375,2021,12,49.5,15.267500,48.976751,-0.915818,20.282143,66.274583,1800.887500,703.475000,588.052500,752.054583,1.279555,6.369725,0.884815,50.19500,NaN,2021-12-01

In [27]:
dates = df.year*100+df.month
df['Date'] = pd.to_datetime(dates.astype(str), format='%Y%m')
df['Date']=df['Date'].dt.strftime('%Y-%m')

In [68]:
df_M=[]
df.drop(columns=['year','month','week'])
df_M.append(df)

In [72]:
df_2=pd.read_csv('Data\monthly features.csv')
df_2['Unnamed: 0'] = pd.to_datetime(df_2['Unnamed: 0'], format='%Y/%m')
df_2=df_2.rename(columns={"Unnamed: 0": "Date"})
df_2['Date']=df_2['Date'].dt.strftime('%Y-%m')
df_M.append(df_2)

In [73]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'], how='outer'), df_M)

In [75]:
df_merged.to_csv('monthly features.csv')

In [60]:
df

,year,month,week,us_prcp,us_mean_temp,ca_mean_temp,ca_total_prec,Crude Oil WTI,Gold,Oats,Corn,Wheat,USD_CAD,USD_CNY,USD_EUR,USD_PHP,SWE,Date
0,1990,9,39.0,13.310000,63.635468,3.654945,70.200000,NaN,NaN,122.150000,227.350000,NaN,1.151900,4.733900,0.737780,NaN,2.100000,1990-09
1,1990,10,41.5,18.547536,55.101247,5.379670,34.621429,32.719167,374.445000,121.787500,230.425000,266.500000,1.162155,4.733900,0.724330,NaN,126.017857,1990-10
2,1990,11,45.5,13.914583,52.375728,1.168132,34.650000,29.997000,378.758750,111.984375,225.640625,259.934375,1.163300,4.984550,0.709800,NaN,1162.242857,1990-11
3,1990,12,50.0,23.961964,35.174020,-5.228352,38.735714,26.132667,380.041333,110.670000,229.370000,272.030000,1.160036,5.235200,0.719148,NaN,3859.324286,1990-12
4,1991,1,11.6,17.439048,43.056658,-3.442740,21.608000,22.008300,368.613000,116.411667,238.830000,299.934286,1.155023,5.277720,0.726403,NaN,6150.796381,1991-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,2021,8,32.0,22.263143,70.668765,14.551058,25.885714,63.776667,1806.910667,479.150000,553.100000,707.690000,1.257964,6.478548,0.848792,50.22540,0.000000,2021-08
372,2021,9,36.5,24.636786,65.372220,10.920742,26.860714,65.342833,1794.160000,519.096875,517.062500,695.816667,1.266365,6.455965,0.847755,49.98960,0.000000,2021-09
373,2021,10,41.0,23.602000,59.323680,7.704411,28.308571,71.054000,1794.708000,644.350000,536.670000,731.080000,1.247688,6.425597,0.861504,50.75644,0.020000,2021-10
374,2021,11,45.5,16.767857,50.837690,2.679300,35.542857,68.608167,1825.506667,742.759375,571.084375,772.008333,1.254675,6.390240,0.875810,50.33690,NaN,2021-11
375,2021,12,49.5,15.267500,48.976751,-0.915818,20.282143,66.274583,1800.887500,703.475000,588.052500,752.054583,1.279555,6.369725,0.884815,50.19500,NaN,2021-12

In [71]:
df_M

[     year  month  week    us_prcp  us_mean_temp  ca_mean_temp  ca_total_prec  \
 0    1990      9  39.0  13.310000     63.635468      3.654945      70.200000
 1    1990     10  41.5  18.547536     55.101247      5.379670      34.621429
 2    1990     11  45.5  13.914583     52.375728      1.168132      34.650000
 3    1990     12  50.0  23.961964     35.174020     -5.228352      38.735714
 4    1991      1  11.6  17.439048     43.056658     -3.442740      21.608000
 ..    ...    ...   ...        ...           ...           ...            ...
 371  2021      8  32.0  22.263143     70.668765     14.551058      25.885714
 372  2021      9  36.5  24.636786     65.372220     10.920742      26.860714
 373  2021     10  41.0  23.602000     59.323680      7.704411      28.308571
 374  2021     11  45.5  16.767857     50.837690      2.679300      35.542857
 375  2021     12  49.5  15.267500     48.976751     -0.915818      20.282143

      Crude Oil WTI         Gold        Oats        Corn       Wheat   USD_CAD  \
 0              NaN          NaN  122.150000  227.350000         NaN  1.151900
 1        32.719167   374.445000  121.787500  230.425000  266.500000  1.162155
 2        29.997000   378.758750  111.984375  225.640625  259.934375  1.163300
 3        26.132667   380.041333  110.670000  229.370000  272.030000  1.160036
 4        22.008300   368.613000  116.411667  238.830000  299.934286  1.155023
 ..             ...          ...         ...         ...         ...       ...
 371      63.776667  1806.910667  479.150000  553.100000  707.690000  1.257964
 372      65.342833  1794.160000  519.096875  517.062500  695.816667  1.266365
 373      71.054000  1794.708000  644.350000  536.670000  731.080000  1.247688
 374      68.608167  1825.506667  742.759375  571.084375  772.008333  1.254675
 375      66.274583  1800.887500  703.475000  588.052500  752.054583  1.279555

       USD_CNY   USD_EUR   USD_PHP          SWE     Date
 0    4.733900  0.737780       NaN     2.100000  1990-09
 1    4.733900  0.724330       NaN   126.017857  1990-10
 2    4.984550  0.709800       NaN  1162.242857  1990-11
 3    5.235200  0.719148       NaN  3859.324286  1990-12
 4    5.277720  0.726403       NaN  6150.796381  1991-01
 ..        ...       ...       ...          ...      ...
 371  6.478548  0.848792  50.22540     0.000000  2021-08
 372  6.455965  0.847755  49.98960     0.000000  2021-09
 373  6.425597  0.861504  50.75644     0.020000  2021-10
 374  6.390240  0.875810  50.33690          NaN  2021-11
 375  6.369725  0.884815  50.19500          NaN  2021-12

 [376 rows x 18 columns]]