In [1]:
import pandas as pd
import os
import glob
from pathlib import Path
from datetime import datetime

In [15]:
p = Path("Data/Commodity")
filelist=list(p.glob("**/*.csv"))

In [59]:
dfs_d=[]
for f in filelist:
    df=pd.read_csv(f, sep=',')
    try:
        df['Date'] = pd.to_datetime(df['Date'], format="%d/%m/%Y")
        df.style.format({"Date": lambda t: t.strftime("%Y-%m-%d")})
    except ValueError:
        pass
    mask = (df['Date'] >'1990-09-01') & (df['Date'] <= '2022-05-01')
    df = df[['Date', 'Price']]
    df = df.loc[mask]
    df.rename(columns = {'Price':f.name}, inplace = True)
    df['Date']=df['Date'].astype("string")
    dfs_d.append(df)

In [60]:
dfs_d

[            Date  Crude Oil WTI Futures Historical Data.csv
 36    2022-04-29                                     102.94
 37    2022-04-28                                     103.47
 38    2022-04-27                                     100.68
 39    2022-04-26                                     100.41
 40    2022-04-25                                      97.67
 ...          ...                                        ...
 8082  1990-09-10                                      31.30
 8083  1990-09-07                                      30.04
 8084  1990-09-06                                      31.43
 8085  1990-09-05                                      29.77
 8086  1990-09-04                                      29.12

 [8051 rows x 2 columns],
             Date  Gold Futures Historical Data.csv
 36    2022-04-29                            1918.6
 37    2022-04-28                            1898.3
 38    2022-04-27                            1895.6
 39    2022-04-26                            1911.1
 40    2022-04-25                            1903.0
 ...          ...                               ...
 8097  1990-09-10                             378.6
 8098  1990-09-07                             389.5
 8099  1990-09-06                             389.7
 8100  1990-09-05                             386.1
 8101  1990-09-04                             383.7

 [8066 rows x 2 columns],
             Date  Oats Futures Historical Data.csv
 35    2022-04-29                            675.50
 36    2022-04-28                            693.00
 37    2022-04-27                            671.25
 38    2022-04-26                            694.00
 39    2022-04-25                            715.25
 ...          ...                               ...
 7943  1990-09-10                            107.25
 7944  1990-09-07                            108.50
 7945  1990-09-06                            111.25
 7946  1990-09-05                            108.75
 7947  1990-09-04                            107.75

 [7913 rows x 2 columns],
             Date  US Corn Futures Historical Data.csv
 35    2022-04-29                               818.25
 36    2022-04-28                               816.00
 37    2022-04-27                               815.50
 38    2022-04-26                               803.25
 39    2022-04-25                               800.25
 ...          ...                                  ...
 8063  1990-09-10                               239.50
 8064  1990-09-07                               238.75
 8065  1990-09-06                               243.00
 8066  1990-09-05                               243.25
 8067  1990-09-04                               240.75

 [8033 rows x 2 columns],
             Date US Soybeans Futures Historical Data.csv
 38    2022-04-29                                1,685.38
 39    2022-04-28                                1,684.75
 40    2022-04-27                                1,692.75
 41    2022-04-26                                1,672.38
 42    2022-04-25                                1,675.25
 ...          ...                                     ...
 8181  1990-09-07                                  612.25
 8182  1990-09-06                                  617.25
 8183  1990-09-05                                  611.75
 8184  1990-09-04                                     608
 8185  1990-09-03                                     601

 [8148 rows x 2 columns],
             Date  US Wheat Futures Historical Data.csv
 34    2022-04-29                               1055.75
 35    2022-04-28                               1085.75
 36    2022-04-27                               1091.25
 37    2022-04-26                               1095.00
 38    2022-04-25                               1082.12
 ...          ...                                   ...
 8250  1990-09-07                                262.75
 8251  1990-09-06                                265.75
 8252  1990-09-05                                263.00
 8253  1990-09-04                                256.25
 8254  1990-09-03                                262.50

 [8221 rows x 2 columns],
             Date  USD_CAD Historical Data.csv
 37    2022-04-29                       1.2856
 38    2022-04-28                       1.2805
 39    2022-04-27                       1.2819
 40    2022-04-26                       1.2825
 41    2022-04-25                       1.2733
 ...          ...                          ...
 8284  1990-09-07                       1.1631
 8285  1990-09-06                       1.1572
 8286  1990-09-05                       1.1524
 8287  1990-09-04                       1.1601
 8288  1990-09-03                       1.1532

 [8252 rows x 2 columns],
             Date  USD_CNY Historical Data.csv
 37    2022-04-29                       6.6080
 38    2022-04-28                       6.6243
 39    2022-04-27                       6.5595
 40    2022-04-26                       6.5552
 41    2022-04-25                       6.5585
 ...          ...                          ...
 8231  1990-09-10                       4.7339
 8232  1990-09-07                       4.7339
 8233  1990-09-06                       4.7339
 8234  1990-09-05                       4.7339
 8235  1990-09-04                       4.7339

 [8199 rows x 2 columns],
             Date  USD_EUR Historical Data.csv
 37    2022-04-29                       0.9483
 38    2022-04-28                       0.9522
 39    2022-04-27                       0.9471
 40    2022-04-26                       0.9399
 41    2022-04-25                       0.9333
 ...          ...                          ...
 8222  1990-09-07                       0.7469
 8223  1990-09-06                       0.7438
 8224  1990-09-05                       0.7470
 8225  1990-09-04                       0.7547
 8226  1990-09-03                       0.7548

 [8190 rows x 2 columns],
             Date  USD_MXN Historical Data.csv
 44    2022-04-29                      20.4110
 45    2022-04-28                      20.4565
 46    2022-04-27                      20.3759
 47    2022-04-26                      20.3905
 48    2022-04-25                      20.2040
 ...          ...                          ...
 8290  1990-09-07                       2.8900
 8291  1990-09-06                       2.8900
 8292  1990-09-05                       2.8900
 8293  1990-09-04                       2.8900
 8294  1990-09-03                       2.8900

 [8251 rows x 2 columns],
             Date  USD_PHP Historical Data.csv
 37    2022-04-29                        52.31
 38    2022-04-28                        52.37
 39    2022-04-27                        52.15
 40    2022-04-26                        52.30
 41    2022-04-25                        52.38
 ...          ...                          ...
 7833  1992-05-25                        26.25
 7834  1992-05-22                        26.25
 7835  1992-05-21                        26.25
 7836  1992-05-20                        26.25
 7837  1992-05-19                        26.25

 [7801 rows x 2 columns]]

In [61]:
from functools import reduce

In [63]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['Date'],
                                            how='outer'), dfs_d)

In [64]:
df_merged

,Date,Crude Oil WTI Futures Historical Data.csv,Gold Futures Historical Data.csv,Oats Futures Historical Data.csv,US Corn Futures Historical Data.csv,US Soybeans Futures Historical Data.csv,US Wheat Futures Historical Data.csv,USD_CAD Historical Data.csv,USD_CNY Historical Data.csv,USD_EUR Historical Data.csv,USD_MXN Historical Data.csv,USD_PHP Historical Data.csv
0,2022-04-29,102.94,1918.6,675.50,818.25,"1,685.38",1055.75,1.2856,6.6080,0.9483,20.4110,52.31
1,2022-04-28,103.47,1898.3,693.00,816.00,"1,684.75",1085.75,1.2805,6.6243,0.9522,20.4565,52.37
2,2022-04-27,100.68,1895.6,671.25,815.50,"1,692.75",1091.25,1.2819,6.5595,0.9471,20.3759,52.15
3,2022-04-26,100.41,1911.1,694.00,803.25,"1,672.38",1095.00,1.2825,6.5552,0.9399,20.3905,52.30
4,2022-04-25,97.67,1903.0,715.25,800.25,"1,675.25",1082.12,1.2733,6.5585,0.9333,20.2040,52.38
...,...,...,...,...,...,...,...,...,...,...,...,...
8482,1992-05-25,NaN,NaN,NaN,NaN,NaN,NaN,1.1993,5.4950,NaN,3.1000,26.25
8483,1992-04-17,NaN,NaN,NaN,NaN,NaN,NaN,1.1818,5.5190,NaN,3.0700,NaN
8484,1992-02-17,NaN,NaN,NaN,NaN,NaN,NaN,1.1898,5.4700,0.7787,3.0600,NaN
8485,1991-12-25,NaN,NaN,NaN,NaN,NaN,NaN,1.1600,NaN,NaN,3.0800,NaN
8486,1991-11-28,NaN,NaN,NaN,NaN,NaN,NaN,1.1351,NaN,0.7779,3.0600,NaN

In [65]:
df_merged['Date'] = pd.to_datetime(df_merged['Date'],format='%Y-%m-%d')
df_merged = df_merged.sort_values(by='Date')

In [66]:
df_merged.to_csv('Data\combined.csv')

In [53]:
df_merged['Date'].dtype

dtype('<M8[ns]')